@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.store-name {
  font-size: 5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Emilys Candy', cursive;
  margin-left: 5rem;

}

.btn {
  margin: 1rem;
}