@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

.navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgb(133, 113, 63);
    font-family: 'Emilys Candy', cursive;
    margin: 0;

}

.navbar__item {

    list-style-type: none;
    text-align: center;
    background-color: rgb(241, 193, 233);
    margin: 0 2%;
    padding: 1rem;
    width: 6rem;

}